<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hifi</title>
    <link th:href="@{/css/kakaoMap/mapZoomButton.css}" rel="stylesheet" />
</head>
<body>
<div class="map_wrap">
    <div id="map" style="width:100%;height:350px;position:relative;overflow:hidden;"></div>
    <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
    <div class="custom_zoomcontrol radius_border">
        <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
        <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
    </div>
</div>
<p>
    <button onclick="panTo(2)">홍대입구역</button>
    <button onclick="panTo(1)">홍익대학교</button>
    <button onclick="panTo(3)">상수역</button>
</p>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f30a369520d453bd14ddd7805991b6db"></script>
<script type="text/javascript" th:src="@{/js/kakaoMap/mapCurrentLocation.js}"></script>
<script type="text/javascript" th:src="@{/js/kakaoMap/mapLoad.js}"></script>
<script type="text/javascript" th:src="@{/js/kakaoMap/mapMarker.js}"></script>
<script type="text/javascript" th:src="@{/js/kakaoMap/mapZoom.js}"></script>
<script type="text/javascript" th:src="@{/js/kakaoMap/mapMove.js}"></script>

</body>
</html>